body {
	background-color: #3497da;
	margin: 0px;
}
table{
	border: 0px;
	padding: 0px;
	margin: 0px;
	cellspacing:0px;
	cellpadding:0px;
}

.table01 {
	font-family: "宋体";
	font-size: 12px;
	line-height: 30px;
	font-weight: normal;
	color: #ECFFFF;
}

.table02textfield {
	font-family: "微软雅黑";
	font-size: 12px;
	color: #0E7ABA;
	background-color: #FFFFFF;
	border: 1px solid #FFFFFF;
	height: 20px;
	width: 185px;
}
.table03textfield {
	font-family: "微软雅黑";
	font-size: 12px;
	color: #0E7ABA;
	background-color: #FFFFFF;
	border: 1px solid #FFFFFF;
	height: 20px;
	width: 85px;
}

input {
	line-height: 20px;
	background-color: #fff;
	border: 1px solid #fcfcfc;
}

.loginBtn {
	background: url(../images/login_btn_bkg.png) repeat-x;
	width: 64px;
	height: 25px;
	display: block;
	cursor: pointer;
	border: 1px solid rgb(5, 123, 153);
	color: #fff;
	font-size: 12px;
	line-height: 25px;
	text-align: center;
	border-radius: 4px 4px 4px 4px;
	text-decoration: none;
	margin-left: 60px;
}

.loginBtn:hover {
	background-position: 0px -25px;
}
.login-logo{
	text-indent: 200px;background: url(../images/login_03.jpg) no-repeat; height: 55px;font-family: '黑体';font-size:30px;text-align: left;color:rgb(51,150,217) 
}