.pagination {
	font-size: 12px;
	background: #ffffff;
	height: 28px;
}

.pagination a {
	margin-top:2px;
	text-decoration: none;
	border: solid 1px #cccccc;
	background:#f8f8f8;
	color: #15B;
	border-radius:5px;
}

.pagination a,.pagination span {
	display: block;
	float: left;
	padding: 0.3em 0.7em;
	margin-right: 5px;
	margin-bottom: 2px;
	margin-top:2px;
	border-radius:5px;
}

.main_table td .pagination a:hover{
  background-image: url('../js/kendoui/styles/textures/highlight.png');
  background-image: none, -webkit-linear-gradient(top, rgba(255,255,255,.4) 0%, rgba(255,255,255,0) 100%);
  background-image: none, -moz-linear-gradient(top, rgba(255,255,255,.4) 0%, rgba(255,255,255,0) 100%);
  background-image: none, -o-linear-gradient(top, rgba(255,255,255,.4) 0%, rgba(255,255,255,0) 100%);
  background-image: none, linear-gradient(to bottom, rgba(255,255,255,.4) 0%, rgba(255,255,255,0) 100%);
	 color: #263248;
  border-color: #a6afbe;
  background-color: #a6afbe;
}

.pagination .current {
	background: #26B;
	color: #fff;
	border: solid 1px #AAE;
	margin-top:2px;
	
}

.pagination .current.prev,.pagination .current.next {
	color: #999;
	border-color: #999;
	background: #fff;
	margin-left: 5px;
}
.pagination .prev{
	margin-left: 5px;
}