/* Site
   -------------------------------- */
body {
    font-family: '宋体', 'Lucida Sans Unicode', 'Lucida Grande', arial,
    helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background: rgb(238, 238, 238);
    font-size: 12px;
    width: 100%;
    height: 100%;
    0 position: relative;
}

p {
    padding-top: 2px;
    padding-bottom: 2px;
    margin: 0px;
}

.k-textfield {

}

.k-textfield .k-text {
    border: 1px solid rgb(113, 146, 179);
    height: 20px;
    line-height: 18px;
    border-radius: 4px 4px 4px 4px;
    font-family: 'Verdana', '宋体';
    font-size: 12px;
    background: #fff;
    display: inline-block;
    margin-left: 5px;
    width: 160px;
}

.k-textfield .k-button {
    margin: 0px;
    line-height: 18px;;
}

/**button**/
.k-button {
    background-color: #E3E3E3;
    border: 1px solid #C5C5C5;
    background-image: url(../images/k-button.png);
    background-position: 0px -2px;
    background-repeat: repeat-x;
    -moz-box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    margin: 2px;
    padding: 2px 7px;
    text-align: center;
    text-decoration: none;
    border-radius: 4px 4px 4px 4px;
    color: #2E2E2E;
    font-size: 12px;
    line-height: 16px;;
    box-sizing: border-box;
}

.k-button:hover {
    background-position: 0px -25px;
    background-color: #a99f9f;
    border-color: #a99f9f;
    color: #2e2e2e;
}

a.disabled {
    color: #888888;
    background-color: #E3E3E3;
}

a.disabled em {
    background-image: url(themes/base/images/ui-icons_888888_256x240.png);
}

a.disabled:hover {
    color: #888888;
    background-color: #E3E3E3;
    border: 1px solid #C5C5C5;
    background-position: 0px -2px;
}

.k-button-panel {
    display: inline-block;
    position: relative;
}

.k-button-panel:hover .menu {
    display: block;
    border-radius: 0 0 4px 4px;
}

.k-button-panel .menu {
    position: absolute;
    border: 1px solid #ccc;
    background: #fff;
    width: 85px;
    display: none;
    margin-top: -3px;
    margin-right: 2px;
    margin-left: 2px;
    z-index: 9999;
}

.k-button-panel .menu span {
    height: 16px;
    width: 100%;
    display: inline-block;
    text-indent: 5px;
    cursor: pointer;
}

.k-button-panel .menu span:hover {
    background: #ccc;
}

.k-button em {
    height: 16px;
    width: 16px;
    display: inline-block;
    background-image: url(themes/base/images/ui-icons_222222_256x240.png);
    float: left;
}

.k-button span {
    height: 16px;
    display: inline-block;
}

.k-button .search {
    background-position: -160px -112px;
}

.k-button .add {
    background-position: -16px -128px;
}

.k-button .del {
    background-position: -176px -96px;
}

.k-button .send {
    background-position: -192px -48px;
}

.k-button .reply {
    background-position: 0px -64px;
}

.k-button .down {
    background-position: -224px -48px;
}

.k-button .drop {
    background-position: -64px -192px;
    float: right;
}

.k-button .up {
    background-position: -192px -48px;
}

.k-button .pass {
    background-position: -64px -144px;
}

.k-button .nopass {
    background-position: 0px -128px;
}

.k-button .close {
    background-position: -96px -128px;
    float: right;
}

.k-button .msg {
    background-position: -128px -98px;
    float: left;
}

.k-button .next {
    background-position: -32px -48px;
    float: right;
}

.k-button .back {
    background-position: 0px -64px;
    float: left;
}

.k-button .save {
    background-position: -96px -112px;
    float: left;
}

.k-button .apply {
    background-position: -16px -64px;
    float: left;
}

.error {
    color: red;
}

.select {
    color: #000;
}

input[type='text'] {
    border-radius: 2px;
    border: 1px solid rgb(113, 146, 179);
    height: 18px;
    line-height: 16px;
    margin-left: 3px;
}

hr {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #fff;
    border-left: none;
    border-right: none;
}

.hall_table {
    float: left;
    background-color: #ffffff;
    border: 1px solid #D3D3D3;
    font-size: 12px;
    font-weight: normal;
    border-radius: 5px 5px 5px 5px;
    margin-bottom: 1px;
}

.hall_table tr {
    background-color: #f3f3f3;
    height: 35px;
}

.hall_table tr td .error {
    color: red;
}

.hall_table tr td {
    text-align: left;
    text-indent: 10px;
}

.hall_table tr td input {
    width: 150px;
    float: left;
}

.hall_table tr td select {
    width: 150px;
    float: left;
}

/* Layout
   -------------------------------- */
.layout-grid {
    width: 960px;
}

.layout-grid td {
    vertical-align: top;
}

.layout-grid td.left-nav {
    width: 140px;
}

.layout-grid td.normal {
    border-left: 1px solid #eee;
    padding: 20px 24px;
    font-family: "Trebuchet MS", "Helvetica", "Arial", "Verdana",
    "sans-serif";
}

.layout-grid td.demos {
    background: url('/images/demos_bg.jpg') no-repeat;
    height: 337px;
    overflow: hidden;
}

/* Normal
   -------------------------------- */
.normal h3, .normal h4 {
    margin: 0;
    font-weight: normal;
}

.normal h3 {
    padding: 0 0 9px;
    font-size: 1.8em;
}

.normal h4 {
    padding-bottom: 21px;
    border-bottom: 1px dashed #999;
    font-size: 1.2em;
    font-weight: bold;
}

.normal p {
    font-size: 1.2em;
}

/* Component containers
----------------------------------*/
#widget-docs .ui-widget {
    font-family: Trebuchet MS, Verdana, Arial, sans-serif;
    font-size: 1em;
}

#widget-docs .ui-widget input, #widget-docs .ui-widget select, #widget-docs .ui-widget textarea, #widget-docs .ui-widget button {
    font-family: Trebuchet MS, Verdana, Arial, sans-serif;
    font-size: 1em;
}

#widget-docs .ui-widget-header {
    border: 1px solid #ffffff;
    background: #464646 url(images/464646_40x100_textures_01_flat_100.png) 50% 50% repeat-x;
    color: #ffffff;
    font-weight: bold;
}

#widget-docs .ui-widget-header a {
    color: #ffffff;
}

#widget-docs .ui-widget-content {
    border: 1px solid #ffffff;
    background: #ffffff url(images/ffffff_40x100_textures_01_flat_75.png) 50% 50% repeat-x;
    color: #222222;
}

#widget-docs .ui-widget-content a {
    color: #222222;
}

/* Interaction states
----------------------------------*/
#widget-docs .ui-state-default, #widget-docs .ui-widget-content #widget-docs .ui-state-default {
    border: 1px solid #666666;
    background: #555555 url(images/555555_40x100_textures_03_highlight_soft_75.png) 50% 50% repeat-x;
    font-weight: normal;
    color: #ffffff;
    outline: none;
}

#widget-docs .ui-state-default a {
    color: #ffffff;
    text-decoration: none;
    outline: none;
}

#widget-docs .ui-state-hover, #widget-docs .ui-widget-content #widget-docs .ui-state-hover, #widget-docs .ui-state-focus, #widget-docs .ui-widget-content #widget-docs .ui-state-focus {
    border: 1px solid #666666;
    background: #444444 url(images/444444_40x100_textures_03_highlight_soft_60.png) 50% 50% repeat-x;
    font-weight: normal;
    color: #ffffff;
    outline: none;
}

#widget-docs .ui-state-hover a {
    color: #ffffff;
    text-decoration: none;
    outline: none;
}

#widget-docs .ui-state-active, #widget-docs .ui-widget-content #widget-docs .ui-state-active {
    border: 1px solid #666666;
    background: #ffffff url(images/ffffff_40x100_textures_01_flat_65.png) 50% 50% repeat-x;
    font-weight: normal;
    color: #F6921E;
    outline: none;
}

#widget-docs .ui-state-active a {
    color: #F6921E;
    outline: none;
    text-decoration: none;
}

/* Interaction Cues
----------------------------------*/
#widget-docs .ui-state-highlight, #widget-docs .ui-widget-content #widget-docs .ui-state-highlight {
    border: 1px solid #fcefa1;
    background: #fbf9ee url(images/fbf9ee_40x100_textures_02_glass_55.png) 50% 50% repeat-x;
    color: #363636;
}

#widget-docs .ui-state-error, #widget-docs .ui-widget-content #widget-docs .ui-state-error {
    border: 1px solid #cd0a0a;
    background: #fef1ec url(images/fef1ec_40x100_textures_05_inset_soft_95.png) 50% bottom repeat-x;
    color: #cd0a0a;
}

#widget-docs .ui-state-error-text, #widget-docs .ui-widget-content #widget-docs .ui-state-error-text {
    color: #cd0a0a;
}

#widget-docs .ui-state-disabled, #widget-docs .ui-widget-content #widget-docs .ui-state-disabled {
    opacity: .35;
    filter: Alpha(Opacity=35);
    background-image: none;
}

#widget-docs .ui-priority-primary, #widget-docs .ui-widget-content #widget-docs .ui-priority-primary {
    font-weight: bold;
}

#widget-docs .ui-priority-secondary, #widget-docs .ui-widget-content #widget-docs .ui-priority-secondary {
    opacity: .7;
    filter: Alpha(Opacity=70);
    font-weight: normal;
}

.ui-button .ui-button-text {
    height: 12px;
    line-height: 12px;
}

/* Icons
----------------------------------*/ /* states and images */
#demo-frame-wrapper .ui-icon, #widget-docs .ui-icon {
    width: 16px;
    height: 16px;
    background-image: url(images/222222_256x240_icons_icons.png);
}

#widget-docs .ui-widget-content .ui-icon {
    background-image: url(images/222222_256x240_icons_icons.png);
}

#widget-docs .ui-widget-header .ui-icon {
    background-image: url(images/222222_256x240_icons_icons.png);
}

#widget-docs .ui-state-default .ui-icon {
    background-image: url(images/888888_256x240_icons_icons.png);
}

#widget-docs .ui-state-hover .ui-icon, #widget-docs .ui-state-focus .ui-icon {
    background-image: url(images/454545_256x240_icons_icons.png);
}

#widget-docs .ui-state-active .ui-icon {
    background-image: url(images/454545_256x240_icons_icons.png);
}

#widget-docs .ui-state-highlight .ui-icon {
    background-image: url(images/2e83ff_256x240_icons_icons.png);
}

#widget-docs .ui-state-error .ui-icon, #widget-docs .ui-state-error-text .ui-icon {
    background-image: url(images/cd0a0a_256x240_icons_icons.png);
}

/* Misc visuals
----------------------------------*/ /* Corner radius */
#widget-docs .ui-corner-tl {
    -moz-border-radius-topleft: 4px;
    -webkit-border-top-left-radius: 4px;
}

#widget-docs .ui-corner-tr {
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px;
}

#widget-docs .ui-corner-bl {
    -moz-border-radius-bottomleft: 4px;
    -webkit-border-bottom-left-radius: 4px;
}

#widget-docs .ui-corner-br {
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-right-radius: 4px;
}

#widget-docs .ui-corner-top {
    -moz-border-radius-topleft: 4px;
    -webkit-border-top-left-radius: 4px;
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px;
}

#widget-docs .ui-corner-bottom {
    -moz-border-radius-bottomleft: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-right-radius: 4px;
}

#widget-docs .ui-corner-right {
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-right-radius: 4px;
}

#widget-docs .ui-corner-left {
    -moz-border-radius-topleft: 4px;
    -webkit-border-top-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    -webkit-border-bottom-left-radius: 4px;
}

#widget-docs .ui-corner-all {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

/* Overlays */
#widget-docs .ui-widget-overlay {
    background: #aaaaaa url(images/aaaaaa_40x100_textures_01_flat_0.png) 50% 50% repeat-x;
    opacity: .30;
    filter: Alpha(Opacity=30);
}

#widget-docs .ui-widget-shadow {
    margin: -8px 0 0 -8px;
    padding: 8px;
    background: #aaaaaa url(images/aaaaaa_40x100_textures_01_flat_0.png) 50% 50% repeat-x;
    opacity: .30;
    filter: Alpha(Opacity=30);
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}

/*
----------------------------------*/
#widget-docs {
    margin: 20px 0 0;
    border: none;
}

#widget-docs h2, #widget-docs h3, #widget-docs h4, #widget-docs p, #widget-docs ul, #widget-docs code {
    margin: 0;
    padding: 0;
}

#widget-docs code {
    display: block;
    color: #444;
    font-size: .9em;
    margin: 0 0 1em;
}

#widget-docs code strong {
    color: #000;
}

#widget-docs p {
    margin: 0 3em 1.2em 0;
}

#widget-docs p.intro {
    font-size: 13px;
    color: #666;
    line-height: 1.3;
}

#widget-docs ul {
    list-style-type: none;
}

#widget-docs h2 {
    font-size: 16px;
    margin: 1.2em 0 .5em;
}

#widget-docs h3 {
    font-size: 14px;
    color: #e6820E;
    margin: 1.5em 0 .5em;
}

.normal #widget-docs h4 {
    font-size: 12px;
    color: #000;
    border: 0;
    margin: 0 0 .5em;
}

#docs-overview-main {
    width: 400px;
}

#docs-overview-sidebar {
    float: right;
    width: 200px;
}

#docs-overview-sidebar a span {
    color: #666;
}

#widget-docs #docs-overview-main p {
    margin-right: 0;
}

#widget-docs #docs-overview-sidebar h4 {
    padding-left: 0;
}

.docs-list-header {
    float: left;
    width: 100%;
    margin: 10px 0 0;
    border-bottom: 1px solid #eee;
}

#widget-docs .docs-list-header h2 {
    float: left;
    margin: 0;
}

#widget-docs .docs-list-header p {
    float: right;
    margin: 5px 0;
    font-size: 11px;
}

.docs-list {
    float: left;
    width: 100%;
    padding: 0 0 10px;
}

.docs-list .param-header {
    float: left;
    clear: left;
    width: 100%;
    padding: 8px 0;
    border-top: 1px solid #eee;
}

#widget-docs .param-header h3, #widget-docs .param-header p {
    margin: 0;
    float: left;
}

#widget-docs .param-header h3 {
    width: 50%;
}

#widget-docs .param-header h3 span {
    background: url(images/demo-spindown-closed.gif) no-repeat left;
    padding-left: 13px;
}

#widget-docs .param-open .param-header h3 span {
    background: url(images/demo-spindown-open.gif) no-repeat left;
}

#widget-docs .param-header p {
    width: 24%;
}

#widget-docs .param-header p.param-type span {
    background: url(images/icon-docs-info.gif) no-repeat left;
    cursor: pointer;
    border-bottom: 1px dashed #ccc;
    padding-left: 15px;
}

.param-details {
    padding-left: 13px;
}

.param-args {
    margin: 0 0 1.5em;
    border-top: 1px dotted #ccc;
}

.param-args td {
    padding: 3px 30px 3px 5px;
    border-bottom: 1px dotted #ccc;
}

/* overrides for ui-tab styles */
#widget-docs ul.ui-tabs-nav {
    padding: 0 0 0 8px;
}

#widget-docs .ui-tabs-nav li {
    margin: 5px 5px 0 0;
}

#widget-docs .ui-tabs-nav li a:link, #widget-docs .ui-tabs-nav li a:visited, #widget-docs .ui-tabs-nav li a:hover, #widget-docs .ui-tabs-nav li a:active {
    font-size: 14px;
    padding: 4px 1.2em 3px;
    color: #fff;
}

#widget-docs .ui-tabs-nav li.ui-tabs-selected a:link, #widget-docs .ui-tabs-nav li.ui-tabs-selected a:visited, #widget-docs .ui-tabs-nav li.ui-tabs-selected a:hover, #widget-docs .ui-tabs-nav li.ui-tabs-selected a:active {
    color: #e6820E;
}

#widget-docs .ui-tabs-panel {
    padding: 20px 9px;
    font-size: 12px;
    line-height: 1.4;
    color: #000;
}

#widget-docs .ui-widget-content a:link, #widget-docs .ui-widget-content a:visited {
    color: #1b75bb;
    text-decoration: none;
}

#widget-docs .ui-widget-content a:hover, #widget-docs .ui-widget-content a:active {
    color: #0b559b;
}

/**Customer*/
.header {
    height: 70px;
    width: 100%;
    background: url(../images/top-bg.jpg);
    border-bottom: 3px solid #000000;
}

.container {
    /*width: 83%;*/
    float: left;
    margin-left: 5px;
    margin-top: -37px;
}

.ui-datepicker {
    background: #FFFFFF;
    border: 1px solid rgb(113, 146, 179);
}

.functionNav {
    width: 200px;
    height: 500px;
    background: #ffffff;
    float: left;
    border: 1px solid #aaaaaa;
}

#tabs .ui-tabs-panel {
    background: none;
    float: left;
    padding: 0;
}

#tabs {
    border: none;
    background: none;
}

.topMenu {
    display: none;
    background: none;
    border: none;
    min-width: 800px;
}

.topMenu li {
    margin-left: 10px;
    border: none;
    width: 91px;
    text-align: left;
    height: 31px;
}

.topMenu li a {
    width: 60px;
    display: block;
    font-size: 12px;
    font-family: '微软雅黑';
    height: 31px;
    line-height: 20px;
    margin-top: 6px;
}

.topMenu .ui-state-default {
    background: url(../images/tab-default.png) no-repeat;
    border: none;
}

.topMenu .ui-state-active {
    background: url(../images/tab-active.png) no-repeat;
    border: none;
}

.btnBar {
    width: 798px;
    background: #ffffff;
    height: 35px;
    border-left: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    float: left;
}

.btnBar button {
    margin-top: 5px;
    float: right;
    margin-right: 5px;
    font-size: 12px;
    font-family: '微软雅黑'
}

.mainBody {
    width: 100%;
    height: 550px;
    position: relative;
    float: left;
}

.leftPanel {
    width: 180px;
    height: 570px;
    z-index: 999;
    float: left;
    border-right: 1px solid #bdbdbd;
    display: none;
    background-color: rgb(238, 238, 238);
}

.leftPanel ul {
    margin: 5px;
    padding: 0;
    list-style: none;
}

.leftPanel ul li {
    background: url(../images/menu-bg-2.png) no-repeat;
    width: 170px;
    display: block;
    line-height: 40px;
    text-indent: 10px;
    margin-top: 10px;
    cursor: pointer;
    float: left;
}

.leftPanel ul li .caption {
    height: 44px;
    float: left;
}

.leftPanel ul li .subMenu {
    margin: 0;
    padding: 0;
    display: none;
    float: left;
    background: rgb(234, 234, 234);
    border: 1px solid #dfdfdf;
    border-top: none;
    width: 167px;
    overflow-y: auto;
    min-height: 0px;
}

.leftPanel ul li .subMenu li {
    font-size: 12px;
    margin: 0;
    height: 24px;
    line-height: 24px;
    width: 100%;
    display: block;
    background: url(../images/arrow.png) 5px 5px no-repeat;
    text-indent: 20px;
    margin-left: 15px;
}

.leftPanel ul li .subMenu li a {
    height: 24px;
    width: 100%;
    display: block;
}

.leftPanel ul li .subMenu .currentFun a {
    background: url(../images/item_bkg.png) 15px 3px no-repeat;
}

.leftPanel ul li .subMenu li a:hover {
    color: rgb(19, 94, 137);
}

.leftPanel ul .current .subMenu {
    display: block;
    overflow: hidden;
}

.leftPanel ul .current .icon {
    background: url(../images/menu-bg-3.png) 0px -24px;
}

.leftPanel ul li .title {
    float: left;
    width: 135px;
    display: block;
}

.leftPanel ul li .icon {
    width: 24px;
    height: 24px;
    display: block;
    background: url(../images/menu-bg-3.png);
    float: left;
    margin-top: 10px;
}

.rightPanel {
    width: 1024px;
    height: 100%;
    float: left;
    margin-top: 10px;
    /*position: absolute;*/
    left: 180px;
    margin-left: 12px;
}

.colorPrev {
    border: 1px solid #bdbdbd;
    width: 60px;
    height: 20px;
    display: block
}

#PrevPanel {
    width: 250px;
    height: 130px;
    font-size: 24px;
    font-family: "Microsoft YaHei";
    color: #ffffff;
    vertical-align: middle;
    border-radius: 10px;
    display: block;
    border: 1px solid #bdbdbd;
    background-position: 5px 30px;
}

#PrevPanel .icon {
    margin-top: 35px;
    margin-left: 5px;
    float: left;
}

#PrevPanel span {
    line-height: 130px;
    display: block;
    float: left;
    width: 110px;
}

#lineWeekChart {
    margin: 20px;
}

#lineMonthChart {
    margin: 20px;
}

#pieChart {
    margin: 20px;
}

#onlieChart {
    margin: 20px;
}

.highcharts-title {
    font-family: "Microsoft YaHei";
    font-weight: bold;
}

text {
    font-size: 10px;
}

.header .logo {
    float: left;
    background: url(../images/logo.png) 0 15px no-repeat;
    height: 68px;
    width: 407px;
    line-height: 90px;
    font-size: '黑体';
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-indent: 50px;
}

.header .userinfo {
    float: right;
    color: #fff;
    margin-top: 40px;
    font-weight: bold;
    margin-right: 10px;
}

.header .userinfo a {
    color: #fff;
    text-decoration: none;
}

.header .userinfo a:hover {
    text-decoration: underline;
}

#menuTreePanel {
    width: 200px;
    height: 110px;
    background-color: #f5f5f5;
    border: 1px solid Silver;;
    overflow: auto;
    float: left;
    right: 10px;
    margin-left: 5px;
}

#menuTreePanel span {
    width: 100%;
    height: 14px;
    display: block;
}

#menuTreePanel span:hover {
    background: #cccccc;
}

.panel {
    width: 100%;
    margin: 5px;
    margin-left: 0px;
    float: left;
}

.panel .title {
    width: 100%;
    height: 27px;
    font-size: 12px;
}

.panel .title .left {
    background: url(../images/title_left.png);
    width: 36px;
}

.panel .title .middle {
    background: url(../images/title_middle.png);
    text-align: left;
}

.panel .title .right {
    background: url(../images/title_right.png);
    width: 5px;
}

.panel .content {
    border: 1px solid #ccc;
    border-top: 1px solid #ccc;
    background: #fbfbfb;
    padding: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.panel .content ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.panel .content .left {
    float: left;
}

.panel .content .right {
    float: right;
    margin-right: 5px;
}

.panel .content .item {
    width: 150px;
    height: 150px;
    border: 1px solid #f8f8f8;
    margin: 15px;
    float: left;
}

.panel .content .item:hover {
    border: 1px solid rgb(26, 133, 165);
}

.panel .content img {
    width: 100%;
    height: 100%;
}

.footer {
    text-align: center;
}

.edit_table {
    width: 100%;
    border-left: 1px solid rgb(113, 146, 179);
    border-top: 1px solid rgb(113, 146, 179);
}

.edit_table tr td, th {
    font-size: 12px;
    border-bottom: 1px solid rgb(113, 146, 179);
    border-right: 1px solid rgb(113, 146, 179);
    height: 30px;
    line-height: 30px;
}

.edit_table tr th {
    text-align: right;
    font-weight: normal;
    width: 120px;
    background-color: rgb(173, 194, 215);
}

.edit_table tr td {
    text-align: left;
}

.edit_table tr td input {
    margin: 5px;
    width: 200px;
    border: 1px solid rgb(113, 146, 179);
    height: 26px;
    line-height: 18px;
    border-radius: 4px 4px 4px 4px;
    font-family: 'Verdana', '宋体';
    font-size: 12px;
}

.edit_table tr td input[editable='false'] {
    cursor: not-allowed;
}

.edit_table .s_checkboxlist input {
    width: 10px;
    vertical-align: -7px;
    _vertical-align: -1px;
    margin-right: 5px;
}

.edit_table tr td select {
    margin: 5px;
    width: 200px;
    border: 1px solid rgb(113, 146, 179);
    height: 22px;
    line-height: 20px;
    border-radius: 4px 4px 4px 4px;
    font-family: 'Verdana', '宋体';
    font-size: 12px;
}

.edit_table tr td .small {
    width: 80px;
}

.comTabs ul li {
    height: 22px;
}

.comTabs ul li a {
    height: 22px;
    line-height: 20px;
    padding: 0;
}

.comTabs .yijian {
    margin: 0;
    padding: 0;
    list-style: none;
}

.comTabs ul.yijian li {
    height: auto;
    border-bottom: 1px dashed #ccc;
    margin-top: 5px;
    width: 700px;
}

.comTabs ul.yijian li span {
    color: #07a;
}

.comTabs ul.yijian li span a {
    color: #07a;
    display: inline-block;
    height: 14px;
    text-indent: 10px
}

.comTabs ul.yijian li .drop {
    height: 16px;
    width: 16px;
    display: none;
    background-image: url(themes/base/images/ui-icons_222222_256x240.png);
    background-position: -96px -128px;
    float: right;
    cursor: pointer;
}

.comTabs ul.yijian li .edit {
    height: 16px;
    width: 16px;
    display: none;
    background-image: url(themes/base/images/ui-icons_222222_256x240.png);
    background-position: -64px -112px;
    float: right;
    cursor: pointer;
}

.comTabs ul.yijian .current {
    background: #f8f8f8;
}

.comTabs ul.yijian .current .drop {
    display: inline-block;
}

.comTabs ul.yijian .current .edit {
    display: inline-block;
}

.comTabs ul.yijian li span .true {
    background: url(../images/state_pass.png) 0px 5px no-repeat;
}

.comTabs ul.yijian li span .false {
    background: url(../images/state_nopass.png) 0px 5px no-repeat;
}

.comTabs ul.yijian li div {
    margin-left: 10px;
    margin-bottom: 5px;
}

.comTabs ul.yijian li div.content {

}

.comTabs ul.yijian li div.content li {
    width: auto;
    height: auto;
    background: none;
    border: none;
}

#employeeTable tr th {
    width: inherit;
    text-align: center;
}

#employeeTable tr td input {
    width: 80px;
}

#employeeTable tr td .k-button {
    width: 60px;
}

.disableAll .k-button .close {
    display: none;
}

.disableAll .delete {
    display: none;
}

.disableAll .create {
    display: none;
}

.disableAll object {
    display: none;
}

.ui-tabs .ui-tabs-nav li a {
    padding: 0px;
    padding-left: 10px;
    padding-right: 10px;
    float: left;
}

.ui-tabs .topMenu li a {
    padding: 0;
}

.ui-tabs .ui-tabs-nav li .icon {
    width: 16px;
    height: 16px;
    display: block;
    float: left;
    background: url(themes/base/images/ui-icons_888888_256x240.png) 0px -112px;
    margin-top: 8px;
    margin-left: 5px;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected .icon {
    background-image: url(themes/base/images/ui-icons_222222_256x240.png);
}

.ui-tabs .ui-tabs-nav #li2 .icon {
    background-position: -192px -112px;
}

.ui-tabs .ui-tabs-nav #li3 .icon {
    background-position: -112px -96px;
}

.ui-tabs .ui-tabs-nav #li26 .icon {
    background-position: -112px -112px;
}

.ui-tabs .ui-tabs-nav #li129 .icon {
    background-position: -160px -112px;
}

.comTabs .ui-tabs-panel {
    border-left: 1px #ccc solid;
    border-right: 1px #ccc solid;
    border-bottom: 1px #ccc solid;
}

.comTabs .ui-widget-header {
    border-left: 1px #ccc solid;
    border-right: 1px #ccc solid;
}

.comTabs .ui-tabs-panel .panel {
    float: none;
}

.pass {
    background: url(../images/state_pass.png) 0px 4px no-repeat;
    display: block;
    text-indent: 10px;
}

.validateCode {
    width: 86px;
    height: 22px;
    float: left;
    padding-top: 5px;
}

.validateCode img {
    border: 1px solid #ccc;
    width: 86px;
    height: 22px;
}

.step {
    padding-top: 5px;
    height: 30px;
}

.step ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 330px;
}

.step ul li {
    float: left;
    margin-left: 2px;
    background: url(../images/step.png) no-repeat;
    width: 100px;
    height: 24px;
    line-height: 24px;
}

.step ul .current {
    background: url(../images/step_hover.png) no-repeat;
    color: #fff;
}

.buttongroup {
    height: 30px;
    padding: 5px;
    text-align: left;
    margin-left: 30px;
}

.logotitle {
    height: 55px;
    width: 960px;
    background: url(../images/title.png) no-repeat;
    margin-top: 20px;
    border-bottom: 1px solid #ccc;
    border-radius: 8px 8px 0px 0px;
}

#inbox {
    width: 100%;
    padding: 0.2em 0.2em 0;
    background: #fff;
}

#outbox {
    width: 100%;
    padding: 0;
}

.comTabs .ui-tabs-nav li .icon {
    margin: 2px;
    margin-right: 0px;
}

.ui-tabs .ui-tabs-nav .inbox .icon {
    background-position: -80px -96px;
}

.ui-tabs .ui-tabs-nav .outbox .icon {
    background-position: -96px -96px;
}

.tabs .ui-tabs-nav li.ui-corner-top {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.ui-datepicker-trigger {
    margin-top: 4px;
    line-height: 18px;
}

.avgTable .edit_table tr td {
    width: 223px;
}

.not-allowed {
    cursor: not-allowed;
}

.loading_bkg {
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 9999;
    position: fixed;
    left: 0px;
    top: 0px;
    opacity: 0.5;
    filter: Alpha(Opacity=50)
}

.loading_box {
    width: 200px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #bdbdbd;
    position: absolute;
    top: 40%;
    left: 40%;
    background: #f8f8f8;
    z-index: 10000;
}

.loading_box img {
    margin-top: 5px;
    margin-left: 5px;
    float: left;
}

.loading_box span {
    line-height: 40px;
    display: block;
    float: left;
    margin-left: 10px;
}

.forgot_table {
    width: 100%;
    border-left: 1px solid rgb(113, 146, 179);
    border-top: 1px solid rgb(113, 146, 179);
}

.forgot_table tr td, th {
    font-size: 12px;
    border-bottom: 1px solid rgb(113, 146, 179);
    border-right: 1px solid rgb(113, 146, 179);
    height: 30px;
    line-height: 30px;
}

.forgot_table tr th {
    text-align: right;
    font-weight: normal;
    width: 120px;
    background-color: rgb(173, 194, 215);
}

.forgot_table tr td {
    text-align: left;
}

.popText {
    height: 20px;
    width: 200px;
    margin-bottom: 0px;
    z-index: 0;
    position: relative;
    margin-left: 5px;
}

.popEditor {
    width: 220px;
    height: 150px;
    display: none;
    position: absolute;
    z-index: 99999;
    margin-left: 5px;
}

.ui-widget-content a.msgCount {
    display: inline-block;
    padding-left: 3px;
    padding-right: 3px;
    border: 1px solid rgb(113, 146, 179);
    border-radius: 5px;
    background: rgb(118, 177, 222);
    color: #fff;
    font-size: 11px;
    text-decoration: none;
}

.filter-item {
    font-size: 12px;
    background-image: url('themes/main/item-right-close.png');
    background-position: right;
    background-repeat: no-repeat;
    height: 20px;
    display: inline-block;
    padding-right: 12px;
    cursor: pointer;
}

.filter-item em {
    background-image: url('themes/main/item-left.png');
    height: 20px;
    display: inline-block;
    text-indent: 5px;
    font-style: normal;
    margin: 0px;
    line-height: 20px;
}

.fileitemx {
    height: 20px;
    margin: 2px;
    text-indent: 0px;
    display: inline-block;
    vertical-align: middle;
}

.fileitemx a {
    height: 20px;
    display: block;
    float: left;
    font-size: 12px;
    color: #000;
}

.fileitemx .fancybox {
    background: url(themes/main/item-left.png) no-repeat;
    line-height: 20px;
    text-indent: 5px;
    text-decoration: none;
    cursor: pointer;
}

.fileitemx .fancybox:hover {
    color: rgb(0, 128, 192);
}

.fileitemx .right {
    width: 36px;
    text-indent: 6px;
    background: url(themes/main/item-right.png) no-repeat;
    cursor: pointer;
    line-height: 20px;
    font-size: 12px;
    font-family: '宋体';
}

.fileitemx .right:hover {
    color: red;
}
